{% extends "nav_bar.html" %}
{% block title %} Home {% endblock %}


{% block content %}
<form method="post" action="">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add Note</button>
         </div>
        <div>
        <label for="heading" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="heading" placeholder="Add description">
        </div>
        <div class="mb-3 ">
          <label for="exampleFormControlTextarea1" class="form-label">Note</label>
          <textarea name="note" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

</form>
{% endblock %}



{% block footer %}
{% include "footer.html"%}
{% endblock %}
